@use "@styles/variables" as *;

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 12px;
}

.title {
  width: 100%;
  color: $primary;
  text-align: center;
  padding: 40px;
}