.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  position: relative;
}

.input {
  width: 100%;
  padding: 10px 36px 10px 12px;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  font-size: 16px;
}

.clearBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: #666;
}

.dropdown {
  margin-top: 6px;
  border: 1px solid #ececec;
  background: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.option {
  padding: 10px 12px;
  cursor: pointer;
}

.option:hover,
.highlighted {
  background: #f2f2f2;
}
