@use "@styles/variables" as *;

.container {
  max-width: 600px;
  min-height: 100vh;
  margin: 20px auto;
  padding: 12px;
    border-radius: 8px;

  background: #ffffff;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 8px 24px rgba(0, 0, 0, 0.08);
}

.title {
  width: 100%;
  color: $primary;
  text-align: center;
  padding: 40px;
}