.toursContainer {
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
  gap: 25px;
  padding: 25px;
  margin: 16px 0;

  border-radius: 16px;

  background: #ffffff;
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 8px 24px rgba(0, 0, 0, 0.08);

  @media (max-width: 550px) {
  .toursContainer {
    grid-template-columns: 1fr; 
    margin: 0 auto;
  }
}
}
